@{
    ViewData["Title"] = "Home Page";
}

<div class="container-botao">
    <div class="botao-progress" id="bth-upload">
        <div class="descricao-btn">
            Upload
        </div>
        <div class="porcentagem" id="porcentagem-upload">

        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/botaoProgress.js"></script>
<link href="~/css/botaoProgress.css" rel="stylesheet" />